
#z {
    text-align: left;
}
section {
    display: none;
    padding-top: 30px;
    font-family: 'Graduate', sans-serif;
}

section#accueil {
    display: block;
}
.nom {
    color: blue;
    font-weight: bolder;
}

nav {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    transition: transform 0.3s ease-in-out; /* Ajoute une transition douce */
    transform: scale(1.2); /* Grossit l'élément lorsqu'il est survolé */
}

#nav {
    position: fixed;
    top: 0;
    background-color: rgb(31, 31, 31);
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    display: flex;
    font-family:'Graduate', sans-serif;

}

#nav a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: rgb(43, 43, 43);
    font-size: 90px;
}

.image-container {
    position: relative;
    width: 300px;
}

body {
    margin: 0;
    height: 100vh;
    position: relative;
}

img {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    border-radius: 150px;
    box-shadow: 5px 5px 5px #888888;
}

